<md-dialog aria-label="Create Event"  ng-cloak>
  <form name="createEvent" ng-model="createEvent" ng-submit="submitEvent({title: title, date: date, location: location, eventDescript: eventDescript, eventImg: eventImg})">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Event</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content class="md-no-momentum">
          <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <input ng-model="title" name="title" type="text" placeholder="Title" required/>
            <div ng-messages="createEvent.title.$error">
              <div ng-message="required">Please enter a title for your event</div>
            </div>
          </md-input-container>
            <md-datepicker ng-model="date" md-placeholder="Enter date"
            md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
          <md-input-container class="md-icon-float md-block">
            <input ng-model="location" name="location" type="text" placeholder="Location" required/>
            <div ng-messages="createEvent.location.$error">
              <div ng-message="required">Please enter a location for your event</div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <!-- Use floating placeholder instead of label -->
            <textarea ng-model="eventDescript" name="eventDescript" cols="50" rows="3" placeholder="Description" required/></textarea>
            <div ng-messages="createEvent.eventDescript.$error">
              <div ng-message="required">Please enter a description for your event</div>
            </div>
          </md-input-container>
          <!-- <md-input-container class="md-icon-float md-block"> -->
          <p>Event image</p>
          <input type="file">
          <!-- </md-input-container> -->
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="submit" ng-disabled="!createEvent.$valid">
        Create Event
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
