<!DOCTYPE html>
<html ng-app="capstoneApp" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title></title>
  </head>
  <body>

      <md-toolbar class="navbar">
        <div class="md-toolbar-tools">
          <img src="./img/solidarity.png" class="solidarity">
          <h2>
            <span>Communify</span>
          </h2>
          <span flex></span>
          <md-button class="md-raised md-primary" ng-click="signin()">Sign In</md-button>
          <md-button class="md-raised md-primary" ng-click="signout()">Sign Out</md-button>
        </div>
      </md-toolbar>

    <div ng-view></div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/controllers.js"></script>
    <script src="/app/routes.js"></script>
    <script src="/app/directives.js"></script>
    <script src="/app/services.js"></script>
    <script src="/app/factories.js"></script>
    <script src="/app/filters.js"></script>

  </body>
</html>
