<md-dialog aria-label="Signin"  ng-cloak>
  <form name="signin" ng-model="signin" ng-submit="submitSignin({email: email, password: password})">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sign In</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content class="md-no-momentum">
          <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="email"></md-icon> -->
            <input ng-model="email" name="email" type="email" placeholder="Email">
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <!-- <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon> -->
            <input ng-model="password" type="password" placeholder="Password">
          </md-input-container>
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="submit">
        Sign In
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
