/*.container {
  height: inherit;
}*/

.main-window {
  height: 80%;
}

.navbar {
  position: fixed;
}

.navspacer {
  width: 100%;
  height: 60px;
}

.start-btn {
  width: 10em;
  font-size: 18px;
  margin-top: -270px;
}

.event {
  width: 80%;
}

.solidarity {
  max-width: 25px;
  max-height: 30px;
  margin-left: 5px;
}

.mlkmarch {
  width: 100%;
  max-height: 900px;
  margin-top: -20px;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }

.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
