<md-toolbar class="navbar boxshadow" ng-controller="UserCtrl as UC">
  <div class="md-toolbar-tools">

    <img src="./img/solidarity.png" class="solidarity"/>
    <span class="md-headline"><a href="/#/home">Communify</a></span>
    <span flex></span>

    <md-menu>

      <md-button aria-label="Open user menu" ng-click="UC.openMenu($mdOpenMenu, $event)">
        <md-icon md-svg-src="img/icons/ic_arrow_drop_down_white_24px.svg" class="margin-bottom"></md-icon>
        <span ng-show="!UC.user.name">Welcome</span>
        <span ng-show="UC.user.name">{{ UC.user.name }}</span>
      </md-button>

      <md-menu-content class="menu-dropdown">
        <md-menu-item>
          <md-button ng-click="allEvents()">
            All Events
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="myEvents()">
            My Events
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="editProfile(event)">
            Edit Profile
          </md-button>
        </md-menu-item>
      </md-menu-content>

    </md-menu>

    <md-button class="md-raised md-primary" ng-show="!UC.user.id" ng-click="signin()">
      <span class="md-subhead log-button">Log in</span>
    </md-button>

    <md-button class="md-raised md-primary" ng-show="UC.user.id" ng-click="signout()">
      <span class="md-subhead log-button">Log out</span>
    </md-button>

  </div>
</md-toolbar>

<div class="ng-scope" ng-controller="MainCtrl as MC">

  <div class="navspacer"></div>

  <md-content class="md-padding layout-xs-column layout-row" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="25" layout="column" class="layout-column flex-xs flex-gt-xs-25 fixed-profile" ng-controller="UserCtrl as UC">

      <md-card class="md-hue-1">
        <img src="http://www.anarkismo.net/attachments/nov2010/clenched_fist.jpg" class="profile-img" ng-show="!UC.user.userImg">
        <img src="{{ UC.user.userImg }}" class="profile-img" ng-show="UC.user.userImg">

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-show="!UC.user.name">Welcome to Communify!</span>
            <span class="md-headline" ng-show="UC.user.name">{{ UC.user.name }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <p ng-show="!UC.user.userDescript">This is your profile section. Click the 'Edit Profile' button below to change your name, image, description, and location.</p>
          <p ng-show="UC.user.userDescript">{{ UC.user.userDescript }}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-primary md-raised" ng-click="editProfile($event)" flex="50" flex-gt-md="auto">
            Edit Profile
          </md-button>
        </md-card-actions>

      </md-card>

      <div class="profile-spacer"></div>

      <md-button class="md-accent md-raised" ng-click="createEvent($event)">
        <md-icon md-svg-src="img/icons/ic_add_circle_white_24px.svg" class="margin-bottom"></md-icon>
        <span class="md-title">Create Event</span>
      </md-button>

    </div>

    <div flex-xs flex-gt-xs="25" layout="column" class="layout-column flex-xs flex-gt-xs-25"></div>

    <div flex-xs flex-gt-xs="75" layout="column" class="layout-column flex-xs flex-gt-xs-75 event" ng-controller="UserEventCtrl as UEC">

      <md-card class="md-primary md-hue-1">
        <md-card-text>
          <div class="md-padding" ng-cloak>
            <div layout="row" layout-align="start center">
              <span class="md-display-1">RSVPs</span>
            </div>
          </div>
        </md-card-text>
      </md-card>

      <md-card ng-repeat="event in UEC.userEvents | orderBy:'date'" layout="row" class="md-hue-1">

        <md-card-title flex-xs flex-gt-xs="75">
          <md-card-title-text layout="column">

            <span>
              <img src="img/icons/ic_check_circle_green_24dp_2x.png" class="icon inline">
              <span class="md-display-1" name="title" ng-model="title">{{ event.title }}</span>
            </span>

            <div class="title-spacer"></div>

            <span class="md-title">
              <img src="img/icons/ic_date_range_blue_24dp_2x.png" class="icon icon-spacer inline">
              {{ event.date | date }} | {{ event.time | date:'shortTime' }}
              <div class="details-spacer inline"></div>
              <img src="img/icons/ic_place_red_24dp_2x.png" class="icon icon-spacer inline">
              <a target="_blank" href="https://www.google.com/maps/place/{{event.location}}">{{ event.location }}</a>
            </span>

            <p>{{ event.eventDescript }}</p>

          </md-card-title-text>
        </md-card-title>

        <md-card-title class="img-padding">
          <md-card-actions layout="column" layout-align="center center">

            <img src="{{ event.eventImg }}" class="md-card-img event-img"/>
            <md-button class="md-primary md-raised rsvp-button" ng-click="UEC.removersvp(event)">
              <md-icon md-svg-src="img/icons/ic_remove_circle_white_24px.svg" class="margin-bottom"></md-icon>
              <span class="md-title">Remove</span>
            </md-button>

          </md-card-actions>
        </md-card-title>

      </md-card>
    </div>

  </md-content>
</div>
