<div class="ng-scope" ng-controller="MainCtrl as MC">
  <div class="navspacer"></div>
  <md-content class="md-padding layout-xs-column layout-row" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="35" layout="column" class="layout-column flex-xs flex-gt-xs-35" ng-controller="UserCtrl as UC">
      <md-card>
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="img/testprofile.png">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">{{ user.name }}</span>
            <span class="md-subhead">{{ user.userDescript }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="left center">
          <md-button class="md-primary md-raised" ng-click="editProfile($event)" flex="50" flex-gt-md="auto">
            Edit Profile
          </md-button>
        </md-card-actions>
      </md-card>
      <md-button class="md-primary md-raised" ng-click="createEvent($event)">
        Create Event
      </md-button>
      <md-button class="md-raised md-primary" href="/#/home/myevents">My Events</md-button>
    </div>
    <div flex-xs flex-gt-xs="65" layout="column" class="layout-column flex-xs flex-gt-xs-50 event" ng-controller="EventCtrl as EC">
      <md-card flex="auto" flex-gt-md="auto" ng-repeat="event in EC.events">
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="img/testprofile.png">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline" name="title" ng-model="title">{{ event.title }}</span>
            <span class="md-subhead">{{ event.date | date }}</span>
            <span class="md-subhead">{{ event.location }}</span>
            <p>{{ event.eventDescript }}</p>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-click="EC.rsvp({id: event.id})" flex="25" flex-gt-md="auto">
            RSVP
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
