<md-toolbar class="navbar boxshadow" ng-controller="UserCtrl as UC">
  <div class="md-toolbar-tools">

    <img src="./img/solidarity.png" class="solidarity"/>
    <span class="md-headline"><a href="/#/home">Communify</a></span>
    <span flex></span>

    <md-menu>

      <md-button aria-label="Open user menu" ng-click="UC.openMenu($mdOpenMenu, $event)">
        <md-icon md-svg-src="img/icons/ic_arrow_drop_down_white_24px.svg" class="margin-bottom"></md-icon>
        <span ng-show="!UC.user.name">Welcome</span>
        <span ng-show="UC.user.name">{{ UC.user.name }}</span>
      </md-button>

      <md-menu-content class="menu-dropdown">
        <md-menu-item>
          <md-button ng-click="rsvps()">
            RSVPs
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="myEvents()">
            My Events
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="editProfile(event)">
            Edit Profile
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="signout()">
            Log Out
          </md-button>
        </md-menu-item>
      </md-menu-content>

    </md-menu>

  </div>
</md-toolbar>

<div class="ng-scope" ng-controller="UserCtrl as UC">

  <div class="navspacer"></div>

  <md-content class="md-padding" layout="row" layout-sm="column" layout-xs="column">
    <div class="profile" layout="column" flex="30" flex-sm="100" flex-xs="100">

      <md-card class="md-hue-1">

        <img src="http://www.anarkismo.net/attachments/nov2010/clenched_fist.jpg" class="profile-img" ng-show="!UC.user.userImg">
        <img src="{{ UC.user.userImg }}" class="profile-img" ng-show="UC.user.userImg">

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-show="!UC.user.name">Welcome to Communify!</span>
            <span class="md-headline" ng-show="UC.user.name">{{ UC.user.name }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <p ng-show="!UC.user.userDescript">This is your profile section. Click the 'Edit Profile' button below to change your name, image, description, and location.</p>
          <p ng-show="UC.user.userDescript">{{ UC.user.userDescript }}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-primary md-raised" ng-click="editProfile($event)" flex="50" flex-gt-md="auto">
            Edit Profile
          </md-button>
        </md-card-actions>

      </md-card>

      <div class="profile-spacer"></div>

      <md-button class="md-accent md-raised" ng-click="createEvent($event)">
        <md-icon md-svg-src="img/icons/ic_add_circle_white_24px.svg" class="margin-bottom"></md-icon>
        <span class="md-title">Create Event</span>
      </md-button>

    </div>

    <div class="events" flex="75" layout="column" flex-sm="100" flex-xs="100" ng-controller="EventCtrl as EC">

      <md-card class="md-primary md-hue-1">
        <md-card-text>
          <div class="md-padding" ng-cloak>
            <div layout="row" layout-align="center center" layout-sm="column" layout-xs="column">

              <span class="md-display-1">Events</span>

              <span flex></span>

              <h1 class="md-title">Find events within:</h1>

              <div layout="row" layout-align="center center">

                <md-input-container class="distance-box">
                  <label>Miles</label>
                  <md-select ng-model="EC.miles" name="miles">
                    <md-option ng-repeat="miles in EC.distance" value="{{miles}}">{{miles}}</md-option>
                  </md-select>
                </md-input-container>

                <p ng-if="miles">Search for events within {{EC.miles}} miles from you.</p>

                <md-button class="md-accent md-raised shorten-button" ng-click="EC.zipFilter()">
                  Search
                </md-button>

                <md-button class="md-primary md-raised shorten-button" ng-click="EC.reset()">
                  Reset
                </md-button>

              </div>

            </div>
          </div>
        </md-card-text>
      </md-card>

      <md-card ng-repeat="event in EC.events | orderBy:'date'" layout="row" layout-xs="column" class="md-hue-1">

        <md-card-title flex="75" flex-xs="100">
          <md-card-title-text layout="column">

            <div>
              <img src="img/icons/ic_forward_red_24dp_2x.png" ng-show="!event.rsvp && !event.is_owner" class="icon inline">
              <img src="img/icons/ic_check_circle_green_24dp_2x.png" ng-show="event.rsvp && !event.is_owner" class="icon inline">
              <img src="{{ UC.user.userImg }}" ng-show="event.is_owner" class="icon inline profile-thumbnail">
              <span class="md-display-1" name="title" ng-model="title">{{ event.title }}</span>
            </div>

            <div class="title-spacer"></div>

            <div class="md-title" layout-xs="column">
              <div layout="row">
                <img src="img/icons/ic_date_range_blue_24dp_2x.png" class="icon inline">
                {{ event.date | date }} | {{ event.time | date:'shortTime' }}
              </div>
              <div layout="row">
                <img src="img/icons/ic_place_red_24dp_2x.png" class="icon inline">
                <a target="_blank" href="https://www.google.com/maps/place/{{event.location}}">{{ event.location }}</a>
              </div>
            </div>

            <p>{{ event.eventDescript }}</p>

          </md-card-title-text>
        </md-card-title>

        <md-card-title layout="column" layout-align="center center" flex-sm="25">
          <md-card-actions>

            <img src="{{ event.eventImg }}" class="md-card-img event-img"/>

            <md-button class="md-accent md-raised rsvp-button" ng-show="!event.rsvp && !event.is_owner" ng-click="EC.rsvp(event)">
              <md-icon md-svg-src="img/icons/ic_add_circle_white_24px.svg" class="margin-bottom"></md-icon>
              <span class="md-title">RSVP</span>
            </md-button>

            <md-button class="md-primary md-raised rsvp-button" ng-show="event.rsvp && !event.is_owner" ng-click="EC.removersvp(event)">
              <md-icon md-svg-src="img/icons/ic_remove_circle_white_24px.svg" class="margin-bottom"></md-icon>
              <span class="md-title">Remove</span>
            </md-button>

            <md-button class="md-accent md-raised rsvp-button" ng-show="event.is_owner" ng-click="EC.getOneEvent($event, event)">
              <md-icon md-svg-src="img/icons/ic_mode_edit_white_24px.svg" class="margin-bottom"></md-icon>
              <span class="md-title">Edit</span>
            </md-button>

          </md-card-actions>
        </md-card-title>

      </md-card>
    </div>
  </md-content>

</div>
