<div class="ng-scope" ng-controller="MainCtrl as MC">
  <div class="navspacer"></div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="25" layout="column" class="layout-column flex-xs flex-gt-xs-25" ng-controller="UserCtrl as UC">

      <md-card class="md-hue-1">
        <img src="img/mlkmarch.jpeg" class="md-card-img">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ user.name }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>{{ user.userDescript }}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-primary md-raised" ng-click="editProfile($event)" flex="50" flex-gt-md="auto">
            Edit Profile
          </md-button>
        </md-card-actions>
      </md-card>
<!--
      <md-card>
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <img src=>
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">{{ user.name }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="left center">

        </md-card-actions>
      </md-card> -->

      <md-button class="md-primary md-raised" ng-click="createEvent($event)">
        Create Event
      </md-button>
      <md-button class="md-raised md-primary" href="/#/home">All Events</md-button>
    </div>

    <div flex-xs flex-gt-xs="75" layout="column" class="layout-column flex-xs flex-gt-xs-75 event" ng-controller="UserEventCtrl as UEC">
      <md-card ng-repeat="event in UEC.userEvents" layout="row" class="md-hue-1">
        <md-card-title flex-xs flex-gt-xs="75">
          <md-card-title-text layout="column">
            <span>
              <img src="img/icons/ic_check_circle_green_24dp_2x.png" class="icon inline">
              <span class="md-display-1" name="title" ng-model="title">{{ event.title }}</span>
            </span>
            <div class="title-spacer"></div>
            <span class="md-title">
              <img src="img/icons/ic_date_range_blue_24dp_2x.png" class="icon icon-spacer inline">
              {{ event.date | date }} | 6:00PM
              <div class="details-spacer inline"></div>
              <img src="img/icons/ic_place_red_24dp_2x.png" class="icon icon-spacer inline">
              <a target="_blank" href="https://www.google.com/maps/place/{{event.location}}">{{ event.location }}</a>
            </span>
            <p>{{ event.eventDescript }}</p>
          </md-card-title-text>
        </md-card-title>
        <md-card-title class="img-padding">
          <md-card-actions layout="column" layout-align="center center">
            <img src="img/protest.jpg" class="md-card-img event-img">
            <md-button class="md-primary md-raised rsvp-button" ng-click="UEC.removersvp(event)">
              <md-icon md-svg-src="img/icons/ic_remove_circle_white_24px.svg" class="margin-bottom"></md-icon>
              <span class="md-title">Remove</span>
            </md-button>
          </md-card-actions>
        </md-card-title>
      </md-card>
    </div>

    <!-- <div flex-xs flex-gt-xs="75" layout="column" class="layout-column flex-xs flex-gt-xs-75 event" ng-controller="UserEventCtrl as UEC">
      <md-card ng-repeat="event in UEC.userEvents">
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <img src="img/mlkmarch.jpeg">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline" name="title" ng-model="title">{{ event.title }}</span>
            <span class="md-subhead">{{ event.date | date }}</span>
            <span class="md-subhead">{{ event.location }}</span>
            <p>{{ event.eventDescript }}</p>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-icon md-svg-src="img/icons/ic_check_circle_black_24px.svg"></md-icon>
          <h3>You are attending</h3>
          <span flex></span>
          <md-button class="md-primary md-raised" ng-click="EC.removersvp({id: event.id})" flex="25" flex-gt-md="auto">
            Remove RSVP
          </md-button>
        </md-card-actions>
      </md-card>
    </div> -->

  </md-content>
</div>
