<md-dialog aria-label="Create Event" class="md-hue-1" ng-controller="EventCtrl as EC" ng-cloak>
  <form name="createEvent" ng-model="createEvent" ng-submit="submitEvent(EC.event)">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Event</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content class="md-no-momentum md-hue-1">

          <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <input ng-model="EC.event.title" name="title" type="text" placeholder="Title" required/>
            <div ng-messages="createEvent.title.$error">
              <div ng-message="required">Please enter a title for your event</div>
            </div>
          </md-input-container>

          <md-input-container class="md-icon-float location-input">
            <input ng-model="EC.event.location" name="location" type="text" placeholder="Location" required/>
            <div ng-messages="createEvent.location.$error">
              <div ng-message="required">Please enter a location for your event</div>
            </div>
          </md-input-container>

          <md-input-container class="md-icon-float zip-input">
            <input ng-model="EC.event.zip" name="zip" type="text" placeholder="Zip" required/>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <!-- Use floating placeholder instead of label -->
            <textarea ng-model="EC.event.eventDescript" name="eventDescript" cols="50" rows="3" placeholder="Description" required/></textarea>
            <div ng-messages="createEvent.eventDescript.$error">
              <div ng-message="required">Please enter a description for your event</div>
            </div>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <input ng-model="EC.event.eventImg" name="eventImg" type="text" placeholder="Image Url" required/>
            <div ng-messages="createEvent.eventImg.$error">
              <div ng-message="required">Please enter an image url for your event</div>
            </div>
          </md-input-container>

          <span>
            <md-datepicker class="md-hue-1 date" ng-model="EC.event.date" md-placeholder="Date"
            md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            <md-input-container class="md-icon-float time">
              <input type="time" name="time" placeholder="Time" ng-model="EC.event.time">
            </md-input-container>
          </span>

        </md-content>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-accent" type="submit" ng-disabled="!createEvent.$valid">
        Create Event
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
